<main class="container">
  <div class="container__card">
    <h1 class="container__card__title">advice #117</h1>
    <p class="container__card__advice">
      "It is easy to sit up and take notice, what's difficult is getting up and
      taking action"
    </p>
    <img
      class="container__card__divider"
      src=".assets/images/"
      alt="divider-desktop"
    />
    <button id="btn" class="container__card__btn">
      <img src="./assets/images/icon-dice.svg" alt="next advice" />
    </button>
  </div>
</main>
