body {
  font-family: "Manrope", sans-serif;
  background-color: $Dark-Blue;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  &__card {
    background-color: $Grayish-Blue;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    border-radius: 13px;
    position: relative;
    &__title {
      color: $Neon-Green;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 3px;
      padding-bottom: 14px;
    }
    &__advice {
      font-size: 18px;
      color: white;
      letter-spacing: 1.1px;
      margin-bottom: 20px;
    }
    &__divider {
      width: 95%;
      display: block;
      padding-bottom: 20px;
      margin: 0 auto;
    }
    &__btn {
      position: absolute;
      left: 50%;
      bottom: -31px;
      transform: translateX(-50%);
      background: hsl(150, 100%, 66%);
      border: none;
      padding: 15px 17px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
@media (max-width: 425px) {
  .card {
    margin: 0 12px;
    padding: 20px;
  }
}
